extends ../layouts/mainLayout.jade

block variables
	- var bodyClass = "inscription"
	- var designLink = "https://lh3.googleusercontent.com/HzLzjQxTf_JqRKVe_XCneaeR8R9Zx6Cfx8nvZH-YKZ6p2Cvk-e9w1fmjGR03cXMYDaK2eQ=w2506-h1116"
block content
	h2 Inscription
	div.gender
		button(id="man")
		button(id="woman")
	
	form.login
		input(id="name", placeholder="Nom")
		input(id="birth", placeholder="Date de naissance")

	div.pix
		button

	div.validate
		input(type="submit")