// intro page
// https://drive.google.com/folderview?id=0B02ga7yq3-4oam1VcUF1OXFZU0k&usp=drive_web

doctype html
html(lang="en")
	head
		title=appName
		link(rel="stylesheet" type="text/css" href="../styles.css")
		link(href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	body(class="intro")
		h1 odeon
		div.connectionLinks
			button(id="gg") Se connecter avec Gmail
			button(id="fb") Se connecter avec Facebook