extends ../layouts/mainLayout.jade

block variables
	- var bodyClass = "intro"
	- var designLink = "https://drive.google.com/open?id=0B02ga7yq3-4oSzJuZU5zNXJ4Y28"

block header
block content
	h1=appName
	div.connectionLinks
		button(id="gg") Se connecter avec Gmail
		button(id="fb") Se connecter avec Facebook