html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.intro{
    color: white;
    font-family: "Helvetica Neue";
    font-family: "Lato";
    background-image: url("http://lorempixel.com/500/700/abstract/");
    background-size: cover;
}
.intro h1{
    font-family: 'magic_marblesitalic';
    font-size: 2em;
    text-align: center;
    top: 20%;
    position: relative;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.intro .tuto {
    font-size: 3em;
    text-align: center;
    position: relative;
    top: 45%;
}
.connectionLinks{
    width: 100%;
    position: absolute;
    bottom: 30px;
}
.connectionLinks a{
    height: 100%;
    height: 75px;
    line-height: 75px;
    display: block;
    font-size: 1,8em;
    padding-left: 10%;
    font-weight: bold;
    margin-bottom: 10px;
}
.connectionLinks a i{
    margin-right: 2%;
}
#googleConnection{
    background-color: rgb(216, 0, 39);
}
#fbConnection{
    background-color: rgb(80, 141, 227);
}

@font-face {
    font-family: 'magic_marblesitalic';
    src: url('fonts/magic_marbles_italic-webfont.woff2') format('woff2'),
         url('fonts/magic_marbles_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}