doctype html
html
	head
		meta(name="author" content="rachid thiah boussas")
		block title
			title Default title
	body
		block header
			header default header
		block content
			div#content no content
		block footer
			footer#footer default footer